{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block title %}Добавление объявления - Профиль пользователя{% endblock %}

{% block content %}
<h2>Добавление объявления</h2>
<form method="post" enctype="multipart/form-data"> <!-- Метод кодирования для отправки файлов -->
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% bootstrap_formset formset layout='horizontal' %} <!-- Набор форм -->
    {% buttons submit='Добавить' %}{% endbuttons %}
</form>
{% endblock %}